.logincontainer{
    align-items: center;
    justify-content: center;
    display: flex;
    height:100vh;
    background: 
      url(../../components/assets/login.jpg);
    background-size: cover;
}

.login {
    padding: 20px;
 width:400px;
 height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:  rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  margin-left: 10px;
  margin-right: 10px;
}


.loginTitle{
    font-size: 50px;
}


.loginForm{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}


.loginForm > label{
    margin: 10px 0;
}

.loginInput{
    padding: 10px;
    background-color:  white;
    border: none;
}

.loginButton{
    margin-top: 20px;
    cursor: pointer;
    background-color: lightcoral;
    border: none;
    color: white;
    border-radius: 10px;

}
.loginButton:disabled{
    cursor: not-allowed;
    background-color: coral ;
}

.loginRegisterButton{
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: teal;
    cursor: pointer;
    border: none;
    padding: 10px;
    color: white;
    border-radius: 10px;
}